<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!--引入分页插件资源-->
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>

    <script type="text/javascript">
        //定义模块  参数一：模块名 参数二：依赖的其他模块 ，如果没有依赖其他模块，也需要声明空数组
        var app = angular.module("pinyougou",['pagination']);
        //定义控制器  参数一：控制器名称  参数二：控制器做的事情
        //$scope angularjs内置对象，全局作用域对象  作用：html与js数据交换的桥梁
        //$http angularjs发起请求的内置服务对象   全部都是异步ajax
        app.controller("brandController",function ($scope,$http) {
            //定义查询所有品牌列表的方法
            $scope.findAll=function () {
                //response接收响应结果
                $http.get("../brand/findAll.do").success(function (response) {
                    $scope.list=response
                })
            }
            //分页展示条
            //分页配置
            $scope.paginationConf = {
                currentPage:1,  				//当前页
                totalItems:10,					//总记录数
                itemsPerPage:10,				//每页记录数
                perPageOptions:[10,20,30,40,50], //分页选项，下拉选择一页多少条记录
                onChange:function(){			//页面变更后触发的方法
                    $scope.reloadList();		//启动就会调用分页组件
                }
            };
            //重新加载分页信息
            /*$scope.reloadList=function () {
                $scope.findPage($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
            }*/
            //条件查询和分页展示
            $scope.searchEntity={};//解决初始化参数为空的情况
            $scope.reloadList=function () {
                $http.post("../brand/search.do?pageNum="+$scope.paginationConf.currentPage+"&pageSize="+$scope.paginationConf.itemsPerPage,
                    $scope.searchEntity).success(function (response) {
                    $scope.list = response.rows;
                    $scope.paginationConf.totalItems=response.total;
                })
            }
            //添加
            $scope.save=function () {
                //定义一个变量
                var methodName="";
                if($scope.entity.id!=null){
                    //修改
                    methodName="update.do";
                }else{
                    //新增
                    methodName="add.do";
                }
                $http.post("../brand/"+methodName,$scope.entity).success(function (response) {
                    if (response.success){
                        //添加成功
                        $scope.reloadList();
                    }else{
                        //不成功
                        alert(response.message);
                    }
                })
            }
            //通过id查找
            $scope.findOne=function (id) {
                $http.get("../brand/findOne.do?id="+id).success(function (response) {
                    $scope.entity=response;
                })
            }
            //定义复选框ids数组值
            $scope.selectIds=[];
            //跟新复选框状态
            $scope.updateSelection=function ($event,id) {
                //判断  选中的状态
                if($event.target.checked){
                    //选中状态
                    $scope.selectIds.push(id);
                }else{
                    //取消勾选,移除当前的id值,//参数一:移除当前位置的索引值,参数二:从该处移除几个值
                    var index = $scope.selectIds.indexOf(id);
                    $scope.selectIds.splice(index,1);
                }
            }
            //删除
            $scope.delete=function () {
                if (confirm("您确定要删除吗")){
                    $http.get("../brand/delete.do?ids="+$scope.selectIds).success(function (response) {
                        if (response.success){
                            //删除成功
                            $scope.reloadList();
                        }else{
                            //删除失败
                            //给提示消息
                            alert(response.message);
                        }

                    })
                }
            }
        });
    </script>


</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController" >
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">品牌管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" ng-click="entity={}" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                    <button type="button" ng-click="delete()" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <!--条件查询-->
        <form class="navbar-form navbar-right" role="search" >
            <div class="form-group">
                <input type="text" ng-model="searchEntity.name" class="form-control" placeholder="品牌名称">
            </div>
            <div class="form-group">
                <input type="text" ng-model="searchEntity.firstChar" class="form-control" placeholder="首字母">
            </div>
            <button type="submit" ng-click="reloadList()" class="btn btn-default">搜索</button>
        </form>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">品牌ID</th>
                <th class="sorting">品牌名称</th>
                <th class="sorting">品牌首字母</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pojo in list">
                <td><input  type="checkbox" ng-click="updateSelection($event,pojo.id)" ></td>
                <td>{{pojo.id}}</td>
                <td>{{pojo.name}}</td>
                <td>{{pojo.firstChar}}</td>
                <td class="text-center">
                    <button type="button" ng-click="findOne(pojo.id)" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!-- 数据表格 /-->




</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>品牌名称</td>
                        <td><input ng-model="entity.name" class="form-control" placeholder="品牌名称" >  </td>
                    </tr>
                    <tr>
                        <td>首字母</td>
                        <td><input ng-model="entity.firstChar"  class="form-control" placeholder="首字母">  </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="save()" data-dismiss="modal" aria-hidden="true">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>